.menu-item{
    padding: 10px;
    border-radius: 20%;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    margin: auto;
}

.menu-item i{
    font-size: 40px;
}

body{
    background-color: #566573;
}

.input-group span{
    width: 100px;
}

.input-group input{
    background-color: rgba(197, 197, 197, 0.5);
    color: #fff;
}

.input-group input:focus{
    background-color: #000;
    color: #fff;
}
